@namespace DameChales.Web.App.Shared
@using DameChales.Web.App.Resources.Texts
@using DameChales.Common.Models
@using DameChales.Common.Enums
@using DameChales.Common
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<RestaurantsDetailPageResources> RestaurantLocalizer
@inject IStringLocalizer<FoodListPageResources> FoodLocalizer
@inject IStringLocalizer<FoodEditPageResources> FoodEditPageLocalizer
@inject IStringLocalizer<RestaurantsEditPageResources> RestaurantEditPageLocalizer

<EditForm Model="@NameRegex">

    <h5 class="card-title">@FoodEditPageLocalizer["Filter"]</h5>
    
    <div class="input-group-pb2">
        <div class="input-group">
            <label class="w-100 font-weight-bold">
                @FoodEditPageLocalizer["Name_FormLabel"]
                <InputText @bind-Value="NameRegex" class="form-control input-sm" aria-describedby="basic-addon2" />
            </label>
            <label class="w-100 font-weight-bold">
                @FoodEditPageLocalizer["Description_FormLabel"]
                <InputText @bind-Value="DescRegex" class="form-control input-sm" aria-describedby="basic-addon2" />
            </label>
        </div>



        <!--ALERGENS-->
        <div class="form-group">

            <label class="w-100 font-weight-bold">
                @FoodEditPageLocalizer["Alergens_FormLabel"]
            </label>

            @foreach (var alergen in Enum.GetNames(typeof(Common.Enums.Alergens)))
            {
                Common.Enums.Alergens a = (Common.Enums.Alergens)Enum.Parse(typeof(Common.Enums.Alergens), alergen);
                bool isChecked = false;

                @if (Alergens.Contains(a))
                {
                    isChecked = true;

                }

                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" @onchange="eventArgs => { CheckboxClicked(alergen, eventArgs.Value); }" checked="@isChecked" />
                    @RestaurantLocalizer[alergen.ToString()]
                </div>
            }

            @functions {
        void CheckboxClicked(string alergenStr, object checkedValue)
        {
                if ((bool)checkedValue)
                {
                    Alergens.Add((Common.Enums.Alergens)Enum.Parse(typeof(Common.Enums.Alergens), alergenStr));
                }
                else
                {

                    Alergens.Remove((Common.Enums.Alergens)Enum.Parse(typeof(Common.Enums.Alergens), alergenStr));
                }
        }
            }
        </div>
        <!--END ALERGENS-->


        <div class="input-group-btn">
            <button type="submit" class="btn btn-success mb-2" @onclick="@Filter">
                @FoodLocalizer["search"]
            </button>
        </div>
    </div>



</EditForm>
