@namespace DameChales.Web.App.Shared
@using DameChales.Web.App.Resources.Texts
@using DameChales.Common.Models
@using DameChales.Common
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<RestaurantsDetailPageResources> RestaurantLocalizer
@inject IStringLocalizer<FoodListPageResources> FoodLocalizer
@inject IStringLocalizer<FoodEditPageResources> FoodEditPageLocalizer
@inject IStringLocalizer<RestaurantsEditPageResources> RestaurantEditPageLocalizer

<EditForm Model="@NameFilter">

    <h5 class="card-title">@RestaurantEditPageLocalizer["Filter"]</h5>
        <div class="input-group-pb2">
            <div class="input-group">
            <label class="w-100 font-weight-bold">
                @RestaurantEditPageLocalizer["Name_FormLabel"]
                <InputText @bind-Value="@NameFilter" class="form-control" aria-describedby="basic-addon2" />
            </label>
            <label class="w-100 font-weight-bold">
                @RestaurantEditPageLocalizer["Address_FormLabel"]
                <InputText @bind-Value="@AddressFilter" class="form-control" aria-describedby="basic-addon2" />
            </label>
            </div>
            <div class="input-group-btn">
            <button type="submit" class="btn btn-success  mb-2" @onclick="@Filter">
                @FoodLocalizer["search"]
                </button>
            </div>
            </div>

</EditForm>
