@page "/restaurants/orders/{Id:guid}"
@namespace DameChales.Web.App.Pages
@layout ListLayout
@using DameChales.Web.App.Resources.Texts
@using DameChales.Common.Models
@using Microsoft.Extensions.Localization
@inherits PageBase
@inject IStringLocalizer<FoodListPageResources> FoodListPageLocalizer


<div class="d-flex flex-row justify-content-between align-items-center mb-4">
    <h1>@FoodListPageLocalizer["Page_Title"]</h1>
</div>

<div class="d-flex flex-wrap">
    <div>
    <h1>Accepted orders</h1>
    @foreach (var order in acceptedOrders)
    {
            <div class="card m-1" style="width: 16rem;">
                <a href="@($"/restaurants/orders/detail/{order.Id}")">
                <h5 class="card-title">
                    <span>@order.Name</span>
                </h5>
                </a>
                <InputSelect @bind-Value="order.Status">
                    @foreach (var status in Enum.GetValues(typeof(DameChales.Common.Enums.OrderStatus)))
                    {
                        <option value="@status">@status</option>
                    }
                </InputSelect>
                <button @onclick="@(() => UpdateOrderStatus(order))">Update</button>
            </div>
    }
    <h1>Preparing orders</h1>
    @foreach (var order in preparingOrders)
    {
            <div class="card m-1" style="width: 16rem;">
                <h5 class="card-title">
                    <span>@order.Name</span>
                </h5>
                <InputSelect @bind-Value="order.Status">
                    @foreach (var status in Enum.GetValues(typeof(DameChales.Common.Enums.OrderStatus)))
                    {
                        <option value="@status">@status</option>
                    }
                </InputSelect>
                <button @onclick="@(() => UpdateOrderStatus(order))">Update</button>
            </div>
    }
    <h1>Delivering orders</h1>
    @foreach (var order in deliveringOrders)
    {
            <div class="card m-1" style="width: 16rem;">
                <h5 class="card-title">
                    <span>@order.Name</span>
                </h5>
                                    <InputSelect @bind-Value="order.Status">
                    @foreach (var status in Enum.GetValues(typeof(DameChales.Common.Enums.OrderStatus)))
                    {
                                    <option value="@status">@status</option>
                    }
                        </InputSelect>
                    <button @onclick="@(() => UpdateOrderStatus(order))">Update</button>
            </div>
    }
    <h1>Delivered orders</h1>
    @foreach (var order in preparingOrders)
    {
        <div class="card m-1" style="width: 16rem;">
            <h5 class="card-title">
                <span>@order.Name</span>
            </h5>
                                <InputSelect @bind-Value="order.Status">
                    @foreach (var status in Enum.GetValues(typeof(DameChales.Common.Enums.OrderStatus)))
                    {
                                <option value="@status">@status</option>
                    }
                    </InputSelect>
                    <button @onclick="@(() => UpdateOrderStatus(order))">Update</button>
        </div>
    }
    </div>



</div>