@page "/restaurants/orders/{Id:guid}"
@namespace DameChales.Web.App.Pages
@layout ListLayout
@using DameChales.Web.App.Resources.Texts
@using DameChales.Common.Models
@using Microsoft.Extensions.Localization
@inherits PageBase
@inject IStringLocalizer<OrderListPageResources> OrderListPageLocalizer


<div class="d-flex flex-row justify-content-between align-items-center mb-4">
    <h1>@OrderListPageLocalizer["Page_Title"]</h1>
</div>

<div class="d-flex flex-wrap">
    <div>
        <h1>@OrderListPageLocalizer["Accepted"]</h1>
    @foreach (var order in AcceptedOrdersDetail)
    {
            <div class="card m-1" style="width: 16rem;">
                <a href="@($"/restaurants/orders/detail/{order.Id}")">
                <h5 class="card-title">
                    <span>@order.Name</span>
                </h5>
                </a>
                <EditForm Model="@order">
                    <div class="input-group mb-3">
                  
                            <InputSelect @bind-Value="order.Status" class="form-control">
                                @foreach (var status in Enum.GetValues(typeof(DameChales.Common.Enums.OrderStatus)))
                                {
                                <option value="@status">@OrderListPageLocalizer[status.ToString()]</option>
                                }
                            </InputSelect>
                  
                    </div>
                    <button class="btn btn-secondary btn-block" @onclick="@(() => UpdateOrderStatus(order))">@OrderListPageLocalizer["Update_Button"]</button>
                </EditForm>
            </div>
    }
        <h1>@OrderListPageLocalizer["Preparing"]</h1>
    @foreach (var order in PreparingOrdersDetail)
    {
            <div class="card m-1" style="width: 16rem;">
                <a href="@($"/restaurants/orders/detail/{order.Id}")">
                    <h5 class="card-title">
                        <span>@order.Name</span>
                    </h5>
                </a>
                <EditForm Model="@order">
                <div class="input-group mb-3">
                        <InputSelect @bind-Value="order.Status" class="form-control">
                    @foreach (var status in Enum.GetValues(typeof(DameChales.Common.Enums.OrderStatus)))
                    {
  
                                <option value="@status">@OrderListPageLocalizer[status.ToString()]</option>
                    }
                
                </InputSelect>
                </div>
                    <button class="btn btn-secondary btn-block" @onclick="@(() => UpdateOrderStatus(order))">@OrderListPageLocalizer["Update_Button"]</button>
                </EditForm>
            </div>
    }
        <h1>@OrderListPageLocalizer["Delivering"]</h1>
    @foreach (var order in DeliveringOrdersDetail)
    {
            <div class="card m-1" style="width: 16rem;">
                <a href="@($"/restaurants/orders/detail/{order.Id}")">
                    <h5 class="card-title">
                        <span>@order.Name</span>
                    </h5>
                </a>
                <EditForm Model="@order">
                 <div class="input-group mb-3">
                        <InputSelect @bind-Value="order.Status" class="form-control">
                    @foreach (var status in Enum.GetValues(typeof(DameChales.Common.Enums.OrderStatus)))
                    {
                                <option value="@status">@OrderListPageLocalizer[status.ToString()]</option>
                    }
                    </InputSelect>
                </div>
                    <button class="btn btn-secondary btn-block" @onclick="@(() => UpdateOrderStatus(order))">@OrderListPageLocalizer["Update_Button"]</button>
                </EditForm>
            </div>
    }
        <h1>@OrderListPageLocalizer["Delivered"]</h1>
    @foreach (var order in DeliveredOrdersDetail)
    {
        <div class="card m-1" style="width: 16rem;">
                <a href="@($"/restaurants/orders/detail/{order.Id}")">
                    <h5 class="card-title">
                        <span>@order.Name</span>
                    </h5>
                </a>
                <EditForm Model="@order">
                 <div class="input-group mb-3">
                    <InputSelect @bind-Value="order.Status" class="form-control">
                    @foreach (var status in Enum.GetValues(typeof(DameChales.Common.Enums.OrderStatus)))
                    {
                                <option value="@status">@OrderListPageLocalizer[status.ToString()]</option>
                    }
                    </InputSelect>
                </div>
                    <button class="btn btn-secondary btn-block" @onclick="@(() => UpdateOrderStatus(order))">@OrderListPageLocalizer["Update_Button"]</button>
                </EditForm>
            </div>
    }
    </div>
</div>