@page "/foods"
@page "/foods/{Id:guid}"
@namespace DameChales.Web.App.Pages
@layout ListLayout
@using DameChales.Web.App.Resources.Texts
@using DameChales.Common.Models
@using Microsoft.Extensions.Localization
@inherits PageBase
@inject IStringLocalizer<FoodListPageResources> FoodListPageLocalizer


<div class="d-flex flex-row justify-content-between align-items-center mb-4">
    <h1>@FoodListPageLocalizer["Page_Title"]</h1>

    <div class="text-center">
        <OnlineStatusIndicator>
            <OnlineFragment>
                <NavLink href="@("/food/create")" class="btn btn-success">
                    @FoodListPageLocalizer["CreateNewFood_Button"]
                </NavLink>
            </OnlineFragment>
            <OfflineFragment>
                <h1>You are offline. Cannot create new food when offline!</h1>
            </OfflineFragment>
        </OnlineStatusIndicator>
    </div>
</div>

<div class="d-flex flex-wrap">
    @foreach (var food in Foods)
    {
        <div class="card m-1" style="width: 16rem;">
            <img class="card-img-top" src="@food.PhotoURL" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">
                    @{
                                        <span>@food.Name</span>
                    }
                </h5>

                <a href="@($"/food/{food.Id}")" class="btn btn-dark btn-block">
                        @FoodListPageLocalizer["EditFood_Button"]
                    </a>
                <p class="card-text">
                    @{
                        if (food.Id == Guid.Empty)
                        {
                                        <p>Not Synced</p>
                        }
                    }
                </p>
            </div>
        </div>
    }
</div>