@page "/restaurants/create"
@page "/restaurants/edit/{Id:guid}"
@namespace DameChales.Web.App.Pages
@layout ListLayout
@using DameChales.Web.App.Resources.Texts
@using DameChales.Common.Models
@using Microsoft.Extensions.Localization
@inherits PageBase
@inject IStringLocalizer<RestaurantsEditPageResources> FoodEditPageLocalizer

<EditForm Model="@restaurantDetailModel">
	<DataAnnotationsValidator />
	
    <div class="row">
        <div class="col-md-8">
            <!--NAME-->
            <div class="form-group">
                <label class="w-100 font-weight-bold">
                    @FoodEditPageLocalizer["Name_FormLabel"]
                    <InputText @bind-Value="@restaurantDetailModel.Name" class="form-control" />
                    <small class="form-text text-danger">
                        <ValidationMessage For="@(() => restaurantDetailModel.Name)" />
                    </small>
                </label>
            </div>
            <!--DESCRIPTOIN-->
            <div class="rounded">
                <div class="form-group">
                    <label class="w-100 font-weight-bold">
                        @FoodEditPageLocalizer["Description_FormLabel"]
                        <InputTextArea @bind-Value="@restaurantDetailModel.Description" class="form-control" />
                        <small class="form-text text-danger">
                            <ValidationMessage For="@(() => restaurantDetailModel.Description)" />
                        </small>
                    </label>
                </div>
            </div>
            <!--ADDRESS-->
            <div class="form-group">
                <label class="w-100 font-weight-bold">
                    @FoodEditPageLocalizer["Address_FormLabel"]
                    <InputText @bind-Value="@restaurantDetailModel.Address" class="form-control" />
                    <small class="form-text text-danger">
                        <ValidationMessage For="@(() => restaurantDetailModel.Address)" />
                    </small>
                </label>
            </div>
            <!--GPS-->
            <div class="form-group">
                <label class="w-100 font-weight-bold">
                    @FoodEditPageLocalizer["GPS_FormLabel"]
                    <InputText @bind-Value="@restaurantDetailModel.GPSCoordinates" class="form-control" />
                </label>
            </div>
            <!--PHOTO-->
            <div class="form-group mb-0">
                <label class="w-100 font-weight-bold mb-0">
                    @FoodEditPageLocalizer["ImageUrl_FormLabel"]
                    <InputText @bind-Value="@restaurantDetailModel.PhotoURL" class="form-control" />
                </label>
            </div>
        </div>

        <div class="col-md-4">
            <div class="bg-warning rounded overflow-hidden h-100 d-flex">
                <img src="@restaurantDetailModel.PhotoURL" class="m-auto" style="max-width: 100%; max-height: 100%;" />
            </div>
        </div>
     </div>



    <div class="d-flex justify-content-end mt-2 mb-2">
        <button type="submit" class="btn btn-success mr-2" @onclick="@Save">
            @FoodEditPageLocalizer["Save_Button"]
        </button>
        @if (Id != Guid.Empty)
        {
                <button class="btn btn-danger" @onclick="@Delete">@FoodEditPageLocalizer["Delete_Button"]</button>
        }
    </div>
</EditForm>