@page "/restaurants/{Id:guid}"
@namespace DameChales.Web.App.Pages
@layout ListLayout
@using DameChales.Web.App.Resources.Texts
@using DameChales.Common.Models
@using Microsoft.Extensions.Localization
@inherits PageBase
@inject IStringLocalizer<RestaurantsDetailPageResources> Localizer

	<div>
        <EditForm Model="@filterString">
            <DataAnnotationsValidator />
            <div class="input-group pb-2">
                <InputText @bind-Value="@filterString" class="form-control" aria-describedby="basic-addon2" />
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-success" @onclick="@filter">
                        @Localizer["search"]
                    </button>
                </div>
            </div>
        </EditForm>


		<!--RESTAURANT INFO-->
		<div style="float: left; width: 30%">
            <div class="card m-1">
                <img class="card-img-top" src="@restaurantDetailModel.PhotoURL" alt="Restaurant image" />
                <div class="card-body text-center">
                    <h4 class="card-title">
                        @{
                                            <span>@restaurantDetailModel.Name</span>
                        }
                    </h4>
                    <p class="card-text">
                        @restaurantDetailModel.Address<br />
                        @restaurantDetailModel.GPSCoordinates<br />
                    </p>
                    <p class="card-text">
                        @restaurantDetailModel.Description
                    </p>
                </div>    
            </div>
        <div class="card m-1 align-items-center justify-content-center">
            <h4 class="card-title">
                @Localizer["Staff"]
            </h4>

            <div class="btn-group-vertical" role="group">
                <a href=@($" /restaurants/orders/{Id}")>
                    <button class="btn btn-success mr-2 mb-2 btn-block" style="width:200px" type="button">
                        @Localizer["Order_management"]
                    </button>
                </a>
                <a href=@($" /foods/{restaurantDetailModel.Id}")>
                    <button class="btn btn-info mr-2 mb-2 btn-block" style="width:200px" type="button">
                            @Localizer["Food_management"]
                        </button>
                </a>

                <a href=@($" /restaurants/stats/{restaurantDetailModel.Id}")>
                    <button class="btn btn-warning mr-2 mb-2 btn-block" style="width:200px" type="button">
                        @Localizer["Stats"]
                    </button>
                </a>
                <a href=@($" /restaurants/edit/{restaurantDetailModel.Id}")>
                    <button class="btn btn-danger mr-2 mb-2 btn-block"style="width:200px" type="button">
                        @Localizer["Edit"]
                    </button>
                </a>
            </div>

        </div>
		</div>
		<!--FOODS-->
		<div style="float: left; width: 25%">
        <button @onclick="@OrderByName">
            Name
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                @{
                    if (OrderByNameFlag)
                    {
                        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                    } else
                    {
                        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                    }
                }
            </svg>
        </button>
        <button @onclick="@OrderByPrice">
            Price
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                @{
                    if (OrderByPriceFlag)
                    {
                        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                    }
                    else
                    {
                        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                    }
                }
            </svg>
        </button>

        <div>
            @foreach (var food in foods)
            {
                <div class="card m-1">
                    <img class="card-img-top" src="@food.PhotoURL" alt="Food image"/>
                    <div class="card-body text-center">
                        <h5 class="card-title">
                            @{
                                                <span>@food.Name</span>
                            }
                        </h5>
                        <p class="card-text">
                            @{
                                                @food.Price
                            }
                        </p>
                            <button type="submit" class="btn btn-success mr-2" @onclick="() => AddToOrder(food)">
                                @Localizer["Add"]
                            </button>
                    </div>
                </div>
            }
        </div>
		</div>
		<!--ORDER BUTTON-->
        @foreach (var amount in orderDetailModel.FoodAmounts)
        {
        <div class="card m-1" style="width: 16rem;">
            <EditForm Model="@amount">
                <DataAnnotationsValidator />
                    <h5 class="card-title">
                            @{
                                                <span>@amount.Food.Name</span>
                            }
                    </h5>
                    <div class="form-group">
                        <label class="w-100 font-weight-bold">
                            @Localizer["Amount"]
                        <InputNumber @bind-Value="@amount.Amount" class="form-control" ParsingErrorMessage=""/>
                        </label>
                        <label class="w-100 font-weight-bold">
                            @Localizer["Order_Note"]
                            <InputText @bind-Value="@amount.Note" class="form-control" />
                        </label>
                    </div>
                <button class="btn btn-danger float-right" @onclick="@(() => RemoveFromOrder(amount.Food))">@Localizer["Delete_Button"]</button>
            </EditForm>
         </div>
        }


            <div class="card m-1" style="width: 16rem;"
                <EditForm Model=@orderDetailModel>
                    <DataAnnotationsValidator />

                    <div class="form-group">
                        <label class="w-100 font-weight-bold">
                            @Localizer["Order_Name"]
                            <InputText @bind-Value="@orderDetailModel.Name" class="form-control" />
                            <small class="form-text text-danger">
                                <ValidationMessage For="@(() => orderDetailModel.Name)" />
                            </small>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="w-100 font-weight-bold">
                            @Localizer["Order_Address"]
                            <InputText @bind-Value="@orderDetailModel.Address" class="form-control" />
                            <small class="form-text text-danger">
                                <ValidationMessage For="@(() => orderDetailModel.Address)" />
                            </small>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="w-100 font-weight-bold">
                            @Localizer["Order_Date"]
                            <InputDateTime @bind-Value="@orderDetailModel.DeliveryTime" class="form-control" />
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="w-100 font-weight-bold">
                            @Localizer["Food_Note"]
                            <InputTextArea @bind-Value="@orderDetailModel.Note" class="form-control"/>
                        </label>
                    </div>

                  

                    <button type="submit" class="btn btn-success float-right" @onclick="PlaceOrder" disabled="@(orderDetailModel.FoodAmounts.Count == 0)">
                        @Localizer["Order"]
                    </button>

            

                </EditForm>
            </div>
	</div>
