@page "/restaurants/stats/{Id:guid}"
@namespace DameChales.Web.App.Pages
@layout ListLayout
@using DameChales.Web.App.Resources.Texts
@using DameChales.Common.Models
@using Microsoft.Extensions.Localization
@inherits PageBase
@inject IStringLocalizer<OrderStatsPageResources> OrderStatsPageLocalizer

	<div>
		<ul>
			<li>
				<!--Total orders-->
			@OrderStatsPageLocalizer["Total_Orders"]: @totalOrders
			<ul>
					<li>
						<!--Confirmed-->
					@OrderStatsPageLocalizer["Confirmed_Orders"]: @acceptedOrders
					</li>
					<li>
						<!--Preparing-->
					@OrderStatsPageLocalizer["Preparing_Orders"]: @preparingOrders
					</li>
					<li>
						<!--In delivery-->
					@OrderStatsPageLocalizer["InDelivery_Orders"]: @deliveringOrders
					</li>
					<li>
						<!--Delivered-->
					@OrderStatsPageLocalizer["Delivered_Orders"]: @deliveredOrders
					</li>
				</ul>
			</li>
			<li>
				<!--profits-->
			@OrderStatsPageLocalizer["Profit"]: @profits
			</li>
		</ul>
	</div>
