@page "/restaurants/{Id:guid}"
@namespace DameChales.Web.App.Pages
@layout ListLayout
@using DameChales.Web.App.Resources.Texts
@using DameChales.Common.Models
@using Microsoft.Extensions.Localization
@inherits PageBase
@inject IStringLocalizer<FoodListPageResources> FoodEditPageLocalizer

	<div>
		<!--RESTAURANT INFO-->
		<div style="float: left; width: 30%">
            <div class="card m-1">
                <img class="card-img-top" src="@restaurantDetailModel.PhotoURL" alt="Card image cap" />
                <div class="card-body text-center">
                    <h4 class="card-title">
                        @{
                            <span>@restaurantDetailModel.Name</span>
                        }
                    </h4>
                    <p class="card-text">
                        @restaurantDetailModel.Address<br />
                        @restaurantDetailModel.GPSCoordinates<br />
                    </p>
                    <p class="card-text">
                        @restaurantDetailModel.Description
                    </p>
                </div>    
            </div>
        <a href=@($" /restaurants/stats/{restaurantDetailModel.Id}")>
                <button type="submit" class="btn btn-success mr-2">>
                    Stats
                </button>
        </a>
        <a href=@($" /restaurants/edit/{restaurantDetailModel.Id}")>
                <button type="submit" class="btn btn-success mr-2">>
                    Edit
                </button>
        </a>
		</div>
		<!--FOODS-->
        
		<div style="float: left; width: 30%">
        @foreach (var food in foods)
        {
            <div class="card m-1" style="width: 16rem;">
                <img class="card-img-top" src="@food.PhotoURL" alt="Card image cap"/>
                <div class="card-body text-center">
                    <h5 class="card-title">
                        @{
                            <span>@food.Name</span>
                        }
                    </h5>
                    <p class="card-text">
                        @{
                            @food.Price
                        }
                    </p>
                </div>
            </div>
        }
		</div>
		<!--ORDER BUTTON-->
		<div style="float: left; width: 30%">
             <button type="submit" class="btn btn-success mr-2">>
                Objednat!
             </button>
		</div>
	</div>
