@page "/restaurants/{Id:guid}"
@namespace DameChales.Web.App.Pages
@layout ListLayout
@using DameChales.Web.App.Resources.Texts
@using DameChales.Common.Models
@using DameChales.Common
@using Microsoft.Extensions.Localization
@inherits PageBase
@inject IStringLocalizer<RestaurantsDetailPageResources> Localizer

	<div>
        <!--Search-->
        <EditForm Model="@FilterString">
        <!--ALERGENS-->
        <div class="form-group">

            @foreach (var alergen in Enum.GetNames(typeof(Common.Enums.Alergens)))
            {

                Common.Enums.Alergens a = (Common.Enums.Alergens)Enum.Parse(typeof(Common.Enums.Alergens), alergen);
                bool isChecked = false;

                @if (Alergens.Contains(a))
                {
                    isChecked = true;

                }

                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" @onchange="eventArgs => { CheckboxClicked(alergen, eventArgs.Value); }" checked="@isChecked" />
                    @alergen
                </div>
            }

            @functions {
        void CheckboxClicked(string alergenStr, object checkedValue)
        {
                if ((bool)checkedValue)
                {
                    Alergens.Add((Common.Enums.Alergens)Enum.Parse(typeof(Common.Enums.Alergens), alergenStr));
                }
                else
                {

                    Alergens.Remove((Common.Enums.Alergens)Enum.Parse(typeof(Common.Enums.Alergens), alergenStr));
                }
        }
            }
        </div>
            <DataAnnotationsValidator />
            <div class="input-group pb-2">
                <InputText @bind-Value="@FilterString" class="form-control" aria-describedby="basic-addon2" />
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-success" @onclick="@Filter">
                        @Localizer["search"]
                    </button>
                </div>
            </div>
        </EditForm>


		<!--RESTAURANT INFO-->
		<div style="float: left; width: 30%">
            <div class="card m-1">
                <img class="card-img-top" src="@RestaurantDetailModel.PhotoURL" alt="Restaurant image" />
                <div class="card-body text-center">
                    <h4 class="card-title">
                        @{
                                            <span>@RestaurantDetailModel.Name</span>
                        }
                    </h4>
                    <p class="card-text">
                        @RestaurantDetailModel.Address<br />
                        @RestaurantDetailModel.GPSCoordinates<br />
                    </p>
                    <p class="card-text">
                        @RestaurantDetailModel.Description
                    </p>
                </div>    
            </div>
        <div class="card m-1 align-items-center justify-content-center">
            <h4 class="card-title">
                @Localizer["Staff"]
            </h4>

            <div class="btn-group-vertical" role="group">
                <a href=@($" /restaurants/orders/{Id}")>
                    <button class="btn btn-success mr-2 mb-2 btn-block" style="width:200px" type="button">
                        @Localizer["Order_management"]
                    </button>
                </a>
                <a href=@($" /foods/{RestaurantDetailModel.Id}")>
                    <button class="btn btn-info mr-2 mb-2 btn-block" style="width:200px" type="button">
                            @Localizer["Food_management"]
                        </button>
                </a>

                <a href=@($" /restaurants/stats/{RestaurantDetailModel.Id}")>
                    <button class="btn btn-warning mr-2 mb-2 btn-block" style="width:200px" type="button">
                        @Localizer["Stats"]
                    </button>
                </a>
                <a href=@($" /restaurants/edit/{RestaurantDetailModel.Id}")>
                    <button class="btn btn-danger mr-2 mb-2 btn-block"style="width:200px" type="button">
                        @Localizer["Edit"]
                    </button>
                </a>
            </div>

        </div>
		</div>
		<!--FOODS-->
		<div style="float: left; width: 25%">
            <!--Order By x buttons-->
        <button @onclick="@OrderByName">
            @Localizer["Name"]
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                @{
                    if (OrderByNameFlag)
                    {
                        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                    } else
                    {
                        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                    }
                }
            </svg>
        </button>
        <button @onclick="@OrderByPrice">
            @Localizer["Price"]
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                @{
                    if (OrderByPriceFlag)
                    {
                        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                    }
                    else
                    {
                        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                    }
                }
            </svg>
        </button>

        <div>
            @foreach (var food in Foods)
            {
                <div class="card m-1">
                    <img class="card-img-top" src="@food.PhotoURL" alt="Food image"/>
                    <div class="card-body text-center">
                        <h5 class="card-title">
                            @{
                                                <span>@food.Name</span>
                            }
                        </h5>
                        <p class="card-text">
                            @{
                                                @food.Price
                            }
                        </p>
                            <button type="submit" class="btn btn-success mr-2" @onclick="() => AddToOrder(food)">
                                @Localizer["Add"]
                            </button>
                    </div>
                </div>
            }
        </div>
		</div>
		<!--ORDER BUTTON-->
        @foreach (var amount in OrderDetailModel.FoodAmounts)
        {
        <div class="card m-1" style="width: 16rem;">
            <EditForm Model="@amount">
                <DataAnnotationsValidator />
                    <h5 class="card-title">
                            @{
                                                <span>@amount.Food.Name</span>
                            }
                    </h5>
                    <div class="form-group">
                        <label class="w-100 font-weight-bold">
                            @Localizer["Amount"]
                        <InputNumber type="number" step="1" @bind-Value="@amount.Amount" class="form-control" ParsingErrorMessage="" Min="1" oninput="validity.valid||(value='');" />
                        </label>
                        <label class="w-100 font-weight-bold">
                            @Localizer["Order_Note"]
                            <InputText @bind-Value="@amount.Note" class="form-control" />
                        </label>
                    </div>
                <button class="btn btn-danger float-right" @onclick="@(() => RemoveFromOrder(amount.Food))">@Localizer["Delete_Button"]</button>
            </EditForm>
         </div>
        }


            <div class="card m-1" style="width: 16rem;"
                <EditForm Model=@OrderDetailModel>
                    <DataAnnotationsValidator />

                    <div class="form-group">
                        <label class="w-100 font-weight-bold">
                            @Localizer["Order_Name"]
                            <InputText @bind-Value="@OrderDetailModel.Name" class="form-control" />
                            <small class="form-text text-danger">
                                <ValidationMessage For="@(() => OrderDetailModel.Name)" />
                            </small>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="w-100 font-weight-bold">
                            @Localizer["Order_Address"]
                            <InputText @bind-Value="@OrderDetailModel.Address" class="form-control" />
                            <small class="form-text text-danger">
                                <ValidationMessage For="@(() => OrderDetailModel.Address)" />
                            </small>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="w-100 font-weight-bold">
                            @Localizer["Order_Date"]
                            <InputDateTime @bind-Value="@OrderDetailModel.DeliveryTime" class="form-control" />
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="w-100 font-weight-bold">
                            @Localizer["Food_Note"]
                            <InputTextArea @bind-Value="@OrderDetailModel.Note" class="form-control"/>
                        </label>
                    </div>

                  

                    <button type="submit" class="btn btn-success float-right" @onclick="PlaceOrder" disabled="@(OrderDetailModel.FoodAmounts.Count == 0)">
                        @Localizer["Order"]
                    </button>

            

                </EditForm>
            </div>
	</div>
