@page "/search"
@namespace DameChales.Web.App.Pages
@layout ListLayout
@using DameChales.Web.App.Resources.Texts
@using DameChales.Web.App.Shared
@using DameChales.Common.Models
@using DameChales.Common
@using Microsoft.Extensions.Localization
@inherits PageBase
@inject IStringLocalizer<RestaurantsDetailPageResources> RestaurantLocalizer
@inject IStringLocalizer<FoodListPageResources> FoodLocalizer
@inject IStringLocalizer<FoodEditPageResources> FoodEditPageLocalizer
@inject IStringLocalizer<RestaurantsEditPageResources> RestaurantEditPageLocalizer

<FoodFilter @ref="FoodFilter" SearchCallback=@( () => StateHasChanged()) Id="Guid.Empty"/>

<hr class="mt-1 py-20" />

<div class="d-flex flex-wrap">
    @if (FoodFilter != null && (FoodFilter.Model.NameRegex != string.Empty || FoodFilter.Model.DescRegex != string.Empty || FoodFilter.Model.AlergensString != string.Empty))
    {
        foreach (var food in FoodFilter.Foods)
        {
            <div class="card m-1" style="width: 16rem;">
                <a href="@($" /restaurants/{food.RestaurantGuid}")">
                    <img class="card-img-top" src="@food.PhotoURL" alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title">
                            @{
                                    <span>@food.Name</span>
                            }
                        </h5>
                        <p class="card-text">
                            @{
                                    @food.Description
                            }
                        </p>
                    </div>

                </a>
            </div>
        }
    }
    
</div>



<RestaurantFilter @ref="RestaurantFilter" SearchCallback=@( () => StateHasChanged()) />

<hr class="mt-1 py-20" />

<div class="d-flex flex-wrap">
    @if (RestaurantFilter != null && ( RestaurantFilter.Model.NameFilter != string.Empty || RestaurantFilter.Model.AddressFilter != string.Empty))
    {

    foreach (var restaurant in RestaurantFilter.RestaurantList)
    {
        <div class="card m-1" style="width: 16rem;">
            <a href="@($" /restaurants/{restaurant.Id}")">
                <img class="card-img-top" src="@restaurant.PhotoURL" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        @{
                                        <span>@restaurant.Name</span>
                        }
                    </h5>
                    <p class="card-text">
                        @{
                                        @restaurant.Description
                        }
                    </p>
                </div>
            </a>
        </div>
    } 
}
</div>

